<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.daw.tri" >

    <!-- Allow to connect with internet and to know the current network state -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".Activities.Home"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.ProgramActivity"
            android:label="@string/title_activity_program" >
        </activity>
        <activity
            android:name=".Activities.Sections"
            android:label="@string/title_activity_day" >
        </activity>
        <activity
            android:name=".Activities.PresentationsActivity"
            android:label="@string/title_activity_presentations" >
        </activity>
        <activity
            android:name=".Activities.Navigation"
            android:label="@string/title_activity_navigation" >
        </activity>
        <activity
            android:name=".Activities.Personal"
            android:label="@string/title_activity_personal" >
        </activity>
        <activity
            android:name=".Activities.HallActivity"
            android:label="@string/title_activity_hall" >
        </activity>
        <activity
            android:name=".Activities.GeneralInfo"
            android:label="@string/title_activity_general_info" >
        </activity>
        <activity
            android:name=".Activities.Speakers"
            android:label="@string/title_activity_speakers" >
        </activity>
        <activity
            android:name=".Activities.CongressVenue"
            android:label="@string/title_activity_congress_venue" >
        </activity>
        <activity
            android:name=".Activities.Accompanying"
            android:label="@string/title_activity_accompanying" >
        </activity>
        <activity
            android:name=".Activities.Exhibitors"
            android:label="@string/title_activity_exhibitors" >
        </activity>
        <activity
            android:name=".Activities.Cohlear"
            android:label="@string/title_activity_cohlear" >
        </activity>
        <activity
            android:name=".Activities.Posters"
            android:label="@string/title_activity_posters" >
        </activity>
    </application>

</manifest>
